<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入外部配置资源 -->
    <properties resource="jdbc.properties"></properties>

    <!-- 类型别别名 -->
    <typeAliases>
        <typeAlias type="com.asu.batis.domain.Person" alias="Person" />
    </typeAliases>

    <!-- mybatis数据库连接和应用环境 -->
    <environments default="dev">
        <environment id="dev">
            <!-- JDBC事务 -->
            <transactionManager type="JDBC" />
            <!-- 配置数据库的属性） -->
            <dataSource type="POOLED">
                <property name="url" value="${jdbc.url}" />
                <property name="driver" value="${jdbc.driver}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>
    <!-- 加载映射文件 mapper -->
    <mappers>
        <!-- 路径用 斜线（/） 分割，而不是用 点(.) -->
        <!--demo1-->
        <!--<mapper resource="mapper/UserMapper.xml"/>-->
        <!--<mapper resource="mapper/CustomerMapper.xml"/>-->

        <!--one to one-->
        <mapper resource="one2one/CardMapper.xml"/>
        <mapper resource="one2one/PersonMapper.xml"/>
    </mappers>
</configuration>
